<% @headings.each do |heading| %> <!-- Iterate through all headings -->
  <h3><%= @headings.find(heading.id).heading_text %></h3> <!-- Show section heading text for current id num -->
  <h4><%= @headings.find(heading.id).short_description %></h4> <!-- Show heading subtitle for this id num -->
  <ul> <!-- Show links as bullet points -->
    <div class="bullet-point col-md"> <!-- Bullet point CSS style -->
      <% @links.where(heading_id: heading).each do |link| %> <!-- Iterate though all links for this heading_id -->
        <li><b><a target="_blank" rel="noopener noreferrer" href='<%= link.link_URL %>'><%= link.link_description %></a></b></li>
      <% end %>
    </div>
  </ul>
<% end %>