/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  background: image_url('retina_wood.png');
}

.navbar {
  background: image_url('dark_wood.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-brand {
  font-family: 'Titillium Web', sans-serif;
  font-size: xx-large;
}

button {
  margin-left: 5px;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -1.5px;
  margin-bottom: 3px;
}

h6 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.25px;
  margin-bottom: 8px;
}

li {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: -0.25px;
}